:root {
    --main-green: #008081;
    --mint-green: #eefdfd;
    --light-blue: #02cccc;
    --dark-yellow: #f8b80e;
    --light-yellow: #ffcc67;
    --faded-yellow: #fdf8e4;
    --light-brown: #6f3f19;
    --light-grey: #cccccc;
    --dark-grey: #aaaaaa
}